__pycache__/*
simulated_data/*
synthetic_env_params/.DS_Store
.DS_Store
*.lprof
*.swp
.venv
.kelly_venv
.vscode
adaptive-sandwich.code-workspace
deploy.sh
deploy_paper_code.sh
oralytics_sample_data/Archive/exps/*
mixed_effects_sample_data/results/*
*.pyc
src/lifejacket/*
n6_T5/*
n30_T50/*
n50_T50/*
n100_T50/*
n300_T50/*
n500_T50/*
n1000_T50/*