__pycache__/*
simulated_data/*
synthetic_env_params/.DS_Store
.DS_Store
*.lprof
*.swp
.venv
.kelly_venv
.vscode
adaptive-sandwich.code-workspace
deploy.sh
deploy_paper_code.sh
oralytics_sample_data/Archive/exps/*
mixed_effects_sample_data/results/*
*.pyc

